<p id="notice"><%= notice %></p>

<p>
  <strong>Perfil Usuario:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @profile.description %>
</p>

<%= link_to 'Editar', edit_profile_path(@profile) %> |
<%= link_to 'Atrás', profiles_path %>