<p id="notice"><%= notice %></p>

<h1>Requirement Detail Reasons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requirement_detail_reasons.each do |requirement_detail_reason| %>
      <tr>
        <td><%= requirement_detail_reason.name %></td>
        <td><%= link_to 'Show', requirement_detail_reason %></td>
        <td><%= link_to 'Edit', edit_requirement_detail_reason_path(requirement_detail_reason) %></td>
        <td><%= link_to 'Destroy', requirement_detail_reason, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requirement Detail Reason', new_requirement_detail_reason_path %>
