<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @atm_brand.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @atm_brand.description %>
</p>

<%= link_to 'Editar', edit_atm_brand_path(@atm_brand) %> |
<%= link_to 'Atrás', atm_brands_path %>