<!DOCTYPE html>
<html>
<head>
	<title>Crear Usuario</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>
<body>
	CREAR USUARIO
	<br>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
	  <a class="navbar-brand" href="#">Logo</a>

	     <!-- Dropdown -->
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        Gestión Requerimientos
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item"> </a> <%= link_to "Registrar RQ", gestion_requerimientos_Registro_RQ_path %>  
	        <a class="dropdown-item"> </a> <%= link_to "Seguimiento RQ", gestion_requerimientos_Seguimiento_RQ_path %>
	        <a class="dropdown-item"> </a> <%= link_to "Actualizar RQ", gestion_requerimientos_Actualizar_RQ_path %>
	      </div>
	    </li>
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        Administración Clientes
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item"> </a> <%= link_to "Crear Cliente", administracion_clientes_Crear_Cliente_path %>
	        <a class="dropdown-item"> </a> <%= link_to "Editar Cliente", administracion_clientes_Editar_Cliente_path %>
	      </div>
	    </li>
	    <li class="nav-item dropdown">
	      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        Administración Usuarios
	      </a>
	      <div class="dropdown-menu">
	        <a class="dropdown-item"> </a> <%= link_to "Crear Usuario", administracion_usuarios_Crear_Usuario_path %> 
	        <a class="dropdown-item"> </a> <%= link_to "Editar Usuario", administracion_usuarios_Editar_Usuario_path %>
	      </div>
	    </li>
	  </ul>
	</nav>

	<br>
	<br>
	
	<div>

		<div class="row">

			<div class="col-12">

				<div class="col-2">
					<!-- campo vacío -->
				</div>

				<div class="col-10">
					<!-- campo vacío -->	

					<form>
						<div class="row">

							<div class="col-4">
								<h5>Crear Usuario</h5>
								<br>
							</div>

						</div>

						<div class="row">

							<div class="col-4 class-group">
								<div class="form-group">
								  <label for="TipoDocumento">Tipo de Documento:</label>
								  <select class="form-control" id="TipoDocumento">
								    <option>DNI</option>
								    <option>CEX</option>
								    <option>Pasaporte</option>
								  </select>
								</div>
							</div>

							<div class="col-4 class-group">
									<label for="NroDocumento">Nro. Documento:</label>
							    	<input type="text" class="form-control" id="NroDocumento">
							</div>							
								
						</div>

						<div class="row">
							<div class="col-8 class-group">
									<label for="Nombres">Nombres:</label>
							    	<input type="text" class="form-control" id="Nombres">
							</div>	
							
						</div>


						<div class="row">

							<div class="col-4 class-group">
								<br>
								<label for="ApPaterno">Apellido Paterno:</label>
						    	<input type="text" class="form-control" id="ApPaterno">
							</div>

							<div class="col-4 class-group">
								<br>
								<label for="ApMaterno">Apellido Materno:</label>
						    	<input type="text" class="form-control" id="ApMaterno">
							</div>
								
						</div>

						<div class="row">

							<div class="col-4 class-group">
								<br>
								<label for="E_Mail">Correo Electrónico:</label>
						    	<input type="mail" class="form-control" id="E_Mail">
							</div>
								
						</div>

						<div class="row">

							<div class="col-4 class-group">
								<br>
								<label for="UsuarioAutogenerado">Usuario utogenerado:</label>
						    	<input type="text" class="form-control" id="UsuarioAutogenerado">
							</div>

							<div class="col-4 class-group">
								<br>
								<label for="ClaveTemporal">Clave Temporal:</label>
						    	<input type="text" class="form-control" id="ClaveTemporal">
							</div>
								
						</div>

						<br>

						<div class="row">

							
							<div class="col-4 class-group">
									<div class="form-group">
									  <label for="PerfilUsuario">Perfil de Usuario:</label>
									  <select class="form-control" id="TipoPerfilUsuario">
									    <option>Comercial</option>
									    <option>TI</option>
									    <option>Administrativo</option>
									  </select>
									</div>
							</div>


							<div class="col-4 class-group">								

								<div class="form-group">
									  <label for="EstadoUsuario">Estado de Usuario:</label>
									  <select class="form-control" id="EstadoUsuario">
									    <option>Activo</option>
									    <option>Inactivo</option>
									  </select>
								</div>							
								
							</div>
							

							<div class="col-4 class-group">

								<br>
								<div class="col-sm-4">
							      <button type="submit" class="btn btn-primary">REGISTRAR</button>
							    </div>
							</div>							
								
						</div>

							
					</form>


				</div>				
						
			</div>
				

		</div>

	</div>

</body>
</html>