<%= form_with(model: atm, local: true) do |form| %>
<% if atm.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(atm.errors.count, "error") %> prohibited this atm from being saved:</h2>

  <ul>
    <% atm.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :Número_Serie %>
  <%= form.text_field :Número_Serie %>
</div>

<div class="field">
  <%= form.label :Descripción %>
  <%= form.text_field :Descripción %>
</div>

<div class="field">
  <%= form.label :Fecha_Manufactura %>
  <%= form.date_select :Fecha_Manufactura %>
</div>

<div class="field">
  <%= form.label :Modelo_ATM %>
  <%= collection_select(:atm_model, :atm_brand_id, AtmModel.all.order(:name),:id , :name ) %>
</div>

<div class="field">
  <%= form.label :Tipo_ATM %>
  <%= collection_select(:atm_type, :atm_brand_id, AtmType.all.order(:name),:id , :name ) %>
</div>

<div class="field">
  <%= form.label :Estado_ATM %>
  <%= collection_select(:atm_state, :atm_brand_id, AtmState.all.order(:name),:id , :name ) %>
</div>

<div class="actions">
  <%= form.submit value = "Crear ATM" %>
</div>
<% end %>