<div class="items">
  <div class="block-form">
    <fieldset-standard>

      <%= form_with(model: atm, local: true, html: {class: 'admin' }) do |form| %>
      <% if atm.errors.any? %>
      <div id="error_explanation">
        <h3 class="text-danger"><%= pluralize(atm.errors.count, "error(es)") %> al registrar.</h3>
        <ul>
          <% atm.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field">
        <div class="items">
          <div class="block-100">
            <%= form.label :Número_Serie %>
          </div>
          <div class="block-100">
            <%= form.text_field :serial_number, { :class => "form-control"} %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="items">
          <div class="block-100">
            <%= form.label :Descripción %>
          </div>
          <div class="block-100">
            <%= form.text_field :description, { :class => "form-control"} %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="items">
          <div class="block-100">
            <%= form.label :Fecha_Manufactura %>
          </div>
          <div class="block-100">
            <%= form.date_select :manufactoring_date , { :class => "form-control"}%>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="items">
          <div class="block-100">
            <%= form.label :Modelo_ATM, "Modelo ATM" %>
          </div>
          <div class="block-100">
            <%= form.select :atm_model_id, AtmModel.all.collect {|e| [e.name, e.id]} , { :include_blank => "Seleccione" }, { :class => "form-control" } %>
          </div>
        </div>

      </div>

      <div class="field">
        <div class="items">
          <div class="block-100">
            <%= form.label :Tipo_ATM, "Tipo ATM" %>
          </div>
          <div class="block-100">
            <%= form.select :atm_type_id, AtmType.all.collect {|e| [e.name, e.id]} , { :include_blank => "Seleccione" }, { :class => "form-control" } %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="items">
          <div class="block-100">
            <%= form.label :Estado_ATM, "Estado ATM" %>
          </div>
          <div class="block-100">
            <%= form.select :atm_state_id, AtmState.all.collect {|e| [e.name, e.id]} , { :include_blank => "Seleccione" }, { :class => "form-control" } %>
          </div>
        </div>
      </div>

      <div class="items">
        <div class="block-50-center">
          <%= form.submit "Guardar", :class => "btn btn-success" %>
        </div>
        <div class="block-50-center">
          <%= link_to 'Atrás', atms_path, :class => "btn btn-info" %>
        </div>
      </div>
      <%end%>

      </fieldset>
  </div>
</div>