<p id="notice"><%= notice %></p>

<h2>Lista Atms</h2>


<table>
  <thead>
    <tr>
      <th>Nro. Serie</th>
      <th>Descripción</th>
      <th>Fecha Manufactura</th>
      <th>Modelo</th>
      <th>Tipo</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @atms.each do |atm| %>
    <tr>
      <td><%= atm.serial_number %></td>
      <td><%= atm.description %></td>
      <td><%= atm.manufactoring_date %></td>
      <td><%= AtmModel.select(:name).where("id = " + atm.atm_model_id.to_s).collect(&:name)[0] %></td>
      <td><%= AtmType.select(:name).where("id = " + atm.atm_type_id.to_s).collect(&:name)[0] %></td>
      <td><%= AtmState.select(:name).where("id = " + atm.atm_state_id.to_s).collect(&:name)[0] %></td>
      <td><%= link_to 'Mostrar', atm %></td>
      <td><%= link_to 'Editar', edit_atm_path(atm) %></td>
      <td><%= link_to 'Eliminar', atm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>

<div>
  <%= will_paginate @atm,renderer: BootstrapPagination::Rails %>
  <div class="text.center"><%= page_entries_info %></div>

</div>



<hr>

<%= link_to 'Nuevo Atm', new_atm_path %>