<p id="notice"><%= notice %></p>

<p>
  <strong>Nro. Serie:</strong>
  <%= @atm.serial_number %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @atm.description %>
</p>

<p>
  <strong>Fecha Manufactura:</strong>
  <%= @atm.manufactoring_date %>
</p>

<p>
  <strong>Modelo Atm:</strong>
  <%= AtmModel.find(@atm.atm_model_id).name %>
</p>

<p>
  <strong>Tipo Atm:</strong>
  <%= AtmType.find(@atm.atm_type_id).name %>
</p>

<p>
  <strong>Estado Atm:</strong>
  <%= AtmState.find(@atm.atm_state_id).name %>
</p>

<%= link_to 'Editar', edit_atm_path(@atm) %> |
<%= link_to 'Atrás', atms_path %>