<%= form_with(model: requirement, local: true) do |form| %>
  <% if requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
        <% requirement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :request_date %>
    <%= form.date_select :request_date %>
  </div>

  <div class="field">
    <%= form.label :completion_date %>
    <%= form.date_select :completion_date %>
  </div>

  <div class="field">
    <%= form.label :percentage_success %>
    <%= form.text_field :percentage_success %>
  </div>

  <div class="field">
    <%= form.label :user_assigned %>
    <%= form.number_field :user_assigned %>
  </div>

  <div class="field">
    <%= form.label :attachment_url %>
    <%= form.text_field :attachment_url %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :requirement_state_id %>
    <%= form.text_field :requirement_state_id %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
