<%= form_with(model: requirement, local: true, class: "") do |form| %>
  <% if requirement.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-sm alert-warning px-3 py-2">
        <p class="mb-2"><%= pluralize(requirement.errors.count, "error") %> impide crear el requerimiento:</p>

        <ul class="mb-0">
          <% requirement.errors.full_messages.each do |message| %>
          <li class=""><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%# ID de usuario que genera el RQ %>


  <i class="fas fa-clipboard-list"></i>
  <%= "#{current_user.name} #{current_user.last_name}" %>
  <!-- <%= form.label :user_id, "Solicitante:" %>
  <%= User.find(current_user.id).name %> <%= User.find(current_user.id).last_name %> -->
  <%= form.text_field :user_id, :value=> current_user.id, class: "d-none" %>

  <hr>

  <%# Primera fila %>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <div class="form-row mx-0">
          <%= form.label :request_date, "Fecha de solicitud" %>
        </div>
        <div class="form-row mx-0">
          <%= form.date_select :request_date, {}, { :class => "form-control form-control-sm col mr-1" } %>
        </div>
      </div>
    </div>
    <div class="col-6">

      <div class="form-group">
        <%= form.label :requirement_state_id, "Estado:" %>
        <% if @requirement.id.nil?
          optionList = [["Pendiente", 1]]
          blankValue = false;
          else
          optionList = RequirementState.all.collect {|state| [state.name, state.id]}
          blankValue = "-- Seleccione --"
          end
        %>

        <%= form.select :requirement_state_id, optionList, { :include_blank => blankValue }, { :class => "form-control form-control-sm" } %>

      </div>

    </div>
  </div>

  <%# Segunda fila %>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label :user_assigned, "Asignar a:" %>
        <%= form.select :user_assigned, User.all.collect {|e| [e.name + ' ' + e.last_name, e.id]}, { :include_blank => "-- Seleccione --" }, { :class => "form-control form-control-sm selectize" } %>
      </div>

    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :location_id, "Lugar" %>
        <%= form.select :location_id, Location.all.collect {|location| [location.name, location.id]}, { :include_blank => "-- Seleccione --" }, { :class => "form-control form-control-sm selectize" } %>
      </div>
    </div>
  </div>


  <%# segunda fila %>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <%= form.label :description, "Descripción" %>
        <%= form.text_field :description, class: "form-control form-control-sm", placeholder: "Opcional" %>
      </div>
    </div>
  </div>

  <%# Tercera fila %>
  <% if @requirement.id? %>
  <!--<div class="row">
    <div class="col-sm col-lg-6">
      <div class="form-group">
        <div class="form-row mx-0">
          <%= form.label :completion_date, "Fecha de finalización" %>
        </div>
        <div class="form-row mx-0">
          <%= form.date_select :completion_date, {}, { :class => "form-control form-control-sm col mr-1" } %>
        </div>

      </div>
    </div>
  </div>-->
  <% end %>

  <%# Archivo adjunto %>
  <!-- <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.label :attachment_url, "Adjuntar archivo" %>
        <div class="form-row mx-0">
          <%= form.text_field :attachment_url, class: "form-control form-control-sm" %>
        </div>
      </div>
    </div>
  </div> -->

  <%# Datos de un requerimiento cuando esta culminado %>


  <% if @requirement.id? %>
  <!--<div class="form-group">
    <%= form.label :percentage_success %>
    <%= form.text_field :percentage_success, :readonly => true %>
  </div> -->
  <% end %>

  <%# Nested form %>
  <%# Detalle de requerimiento %>
  <div class="form-group">
    <%= form.simple_fields_for :requirement_details do |builder|  %>
      <%= render 'requirement_detail', form: builder  %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.submit "Guardar", :class=> "btn btn-primary" do %>
    <% end %>
  </div>
<% end %>
