<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @requirement.description %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @requirement.request_date %>
</p>

<p>
  <strong>Completion date:</strong>
  <%= @requirement.completion_date %>
</p>

<p>
  <strong>Percentage success:</strong>
  <%= @requirement.percentage_success %>
</p>

<p>
  <strong>User assigned:</strong>
  <%= @requirement.user_assigned %>
</p>

<p>
  <strong>Attachment url:</strong>
  <%= @requirement.attachment_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @requirement.user_id %>
</p>

<p>
  <strong>Requirement state:</strong>
  <%= @requirement.requirement_state_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @requirement.location_id %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
