<p id="notice"><%= notice %></p>

<h1>Atm Models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Atm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atm_models.each do |atm_model| %>
      <tr>
        <td><%= atm_model.name %></td>
        <td><%= atm_model.description %></td>
        <td><%= atm_model.ATM_id %></td>
        <td><%= link_to 'Show', atm_model %></td>
        <td><%= link_to 'Edit', edit_atm_model_path(atm_model) %></td>
        <td><%= link_to 'Destroy', atm_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atm Model', new_atm_model_path %>
