<p id="notice"><%= notice %></p>

<h1>Atm States</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Atm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atm_states.each do |atm_state| %>
      <tr>
        <td><%= atm_state.name %></td>
        <td><%= atm_state.ATM_id %></td>
        <td><%= link_to 'Show', atm_state %></td>
        <td><%= link_to 'Edit', edit_atm_state_path(atm_state) %></td>
        <td><%= link_to 'Destroy', atm_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atm State', new_atm_state_path %>
