<%= form_with(model: location_contact, local: true) do |form| %>
  <% if location_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location_contact.errors.count, "error") %> prohibited this location_contact from being saved:</h2>

      <ul>
        <% location_contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :position_name %>
    <%= form.text_field :position_name %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
