<p id="notice"><%= notice %></p>

<h1 class="h3 mb-4 text-info font-weight-bold">Contactos</h1>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= link_to 'Nuevo registro', new_location_contact_path, { :class => "btn btn-success btn-sm"} %></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive small">

            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr role="row">
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Teléfono</th>
                  <th>Email</th>
                  <th>Puesto</th>
                  <th>Locación</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @location_contacts.each do |location_contacts| %>
                  <tr>
                    <td><%= location_contacts.first_name %></td>
                    <td><%= location_contacts.last_name %></td>
                    <td><%= location_contacts.phone %></td>
                    <td><%= location_contacts.email %></td>
                    <td><%= location_contacts.position_name %></td>
                    <td><%= Location.select(:name).where("id = " + location_contacts.location_id.to_s).collect(&:name)[0] %></td>
                    <td><%= link_to 'Detalle', location_contacts, :class => "text-info" %></td>
                    <td><%= link_to 'Editar', edit_location_contact_path(location_contacts) , :class => "text-warning"%></td>
                    <td><%= link_to 'Eliminar', location_contacts, :class => "text-danger", method: :delete, data: { confirm: '¿Esta seguro de elimnar el registro?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

        <div class="items">
          <div class="block-50-left">
            <%= will_paginate %>
          </div>
          <div class="block-50-right">
            <span class="text-info">Registros: <%= @location_contacts.count %></span>
          </div>
        </div>

    </div>
  </div>
</div>
