<p id="notice"><%= notice %></p>

<h1 class="title">Departamentos</h1>

<br>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= link_to 'Nuevo registro', new_department_path, { :class => "btn btn-success"} %></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 60px;">
                    Nombre</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Position: activate to sort column ascending" style="width: 40px;">Ubigeo</th>                  
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Age: activate to sort column ascending" style="width: 40px;"></th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Start date: activate to sort column ascending" style="width: 40px;"></th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Salary: activate to sort column ascending" style="width: 40px;"></th>
                </tr>
              </thead>

              <tbody>
                <% @departments.each do |department| %>
                  <tr>
                    <td><%= department.name %></td>
                    <td><%= department.ubigeo %></td>
                    <td><%= link_to 'Detalle', department %></td>
                    <td><%= link_to 'Editar', edit_department_path(department) %></td>
                    <td><%= link_to 'Eliminar', department, method: :delete, data: { confirm: '¿Esta seguro de elimnar el registro?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Registros: <%= @departments.count %></div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>