<p id="notice"><%= notice %></p>

<h1>Requirement Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requirement_types.each do |requirement_type| %>
      <tr>
        <td><%= requirement_type.name %></td>
        <td><%= requirement_type.description %></td>
        <td><%= link_to 'Show', requirement_type %></td>
        <td><%= link_to 'Edit', edit_requirement_type_path(requirement_type) %></td>
        <td><%= link_to 'Destroy', requirement_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requirement Type', new_requirement_type_path %>
