<%= form_with(model: requirement_detail_state, local: true) do |form| %>
  <% if requirement_detail_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requirement_detail_state.errors.count, "error") %> prohibited this requirement_detail_state from being saved:</h2>

      <ul>
        <% requirement_detail_state.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
