<p id="notice"><%= notice %></p>

<h1>Atms</h1>

<table>
  <thead>
    <tr>
      <th>Serial number</th>
      <th>Description</th>
      <th>Manufacturing date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atms.each do |atm| %>
      <tr>
        <td><%= atm.serial_number %></td>
        <td><%= atm.description %></td>
        <td><%= atm.manufacturing_date %></td>
        <td><%= link_to 'Show', atm %></td>
        <td><%= link_to 'Edit', edit_atm_path(atm) %></td>
        <td><%= link_to 'Destroy', atm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atm', new_atm_path %>
