<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @atm.serial_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @atm.description %>
</p>

<p>
  <strong>Manufacturing date:</strong>
  <%= @atm.manufacturing_date %>
</p>

<%= link_to 'Edit', edit_atm_path(@atm) %> |
<%= link_to 'Back', atms_path %>
