<p id="notice"><%= notice %></p>

<h1 class="h4 mb-4 text-gray-800 font-weight-bold">Detalle de requerimiento</h1>
<div class="row">
  <div class="col-lg-10">

    <div class="card position-relative">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detalle</h6>
      </div>
      <div class="card-body">
        <div>
          <ul class="list-group">
            <li class="list-group-item"><span class="font-weight-bold">Descripcion:</span> <%= @requirement.title %>
            </li>
            <li class="list-group-item"><span class="font-weight-bold">Fecha:</span> <%= @requirement.request_date %>
            </li>
            <li class="list-group-item"><span class="font-weight-bold">Usuario:</span>
              <%= User.find(@requirement.user_id).name %> <%= User.find(@requirement.user_id).last_name %>
            </li>
          </ul>

        </div>

        <!-- Links inferiores -->
        <hr />
        <ul class="nav small">
          <li class="nav-item">
            <a href="<%= requirements_path %>" class="nav-link py-1 px-2">← Ver todos</a>

          </li>
          <li class="nav-item">
            <%= link_to 'Editar', edit_requirement_path(@requirement), class: "nav-link py-1 px-2" %>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>

<!-- <p>
  <strong>User:</strong>
  <%= @requirement.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @requirement.title %>
</p>

<p>
  <strong>Request date:</strong>
  <%= @requirement.request_date %>
</p> -->



<!-- <%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %> -->