<p id="notice"><%= notice %></p>

<h1 class="h3 mb-4 text-info font-weight-bold">Provincias</h1>
<div class="row">
  <div class="col-lg-11">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%= link_to 'Nuevo registro', new_province_path, { :class => "btn btn-success btn-sm"} %></h6>
      </div>
      <div class="card-body">
        <div class="table-responsive small">

            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr>
                  <th>
                    Nombre</th>
                  <th>Ubigeo</th>
                  <th>Departamento</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @provinces.each do |province| %>
                  <tr>
                    <td><%= province.name %></td>
                    <td><%= province.ubigeo %></td>
                    <td><%= Department.select(:name).where("id = " + province.department_id.to_s).collect(&:name)[0] %></td>
                    <td><%= link_to 'Detalle', province, :class => "text-info" %></td>
                    <td><%= link_to 'Editar', edit_province_path(province), :class => "text-warning" %></td>
                    <td><%= link_to 'Eliminar', province, :class => "text-danger", method: :delete, data: { confirm: '¿Esta seguro de elimnar el registro?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <div class="items">
              <div class="block-50-left">
                <%= will_paginate %>
              </div>
              <div class="block-50-right">
                <span class="text-info">Registros: <%= @provinces.count %></span>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>