<p id="notice"><%= notice %></p>

<h1 class="title">Locaciones</h1>

<br>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= link_to 'Nuevo registro', new_location_path, { :class => "btn btn-outline-success"} %></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 40px;">Código</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Position: activate to sort column ascending" style="width: 60px;">Nombre</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Office: activate to sort column ascending" style="width: 60px;">Dirección</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Position: activate to sort column ascending" style="width: 60px;">Dirección referencia</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Office: activate to sort column ascending" style="width: 60px;">Tipo de locación</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Position: activate to sort column ascending" style="width: 60px;">Cliente</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Office: activate to sort column ascending" style="width: 60px;">Distrito</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Age: activate to sort column ascending" style="width: 40px;"></th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Start date: activate to sort column ascending" style="width: 40px;"></th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Salary: activate to sort column ascending" style="width: 40px;"></th>
                </tr>
              </thead>

              <tbody>
                <% @locations.each do |location| %>
                  <tr>
                    <td><%= location.reference_code %></td>
                    <td><%= location.name %></td>
                    <td><%= location.address %></td>     
                    <td><%= location.address_reference %></td>                      
                    <td><%= LocationType.select(:name).where("id = " + location.location_type_id.to_s).collect(&:name)[0] %></td>
                    <td><%= LocationOwner.select(:name).where("id = " + location.location_owner_id.to_s).collect(&:name)[0] %></td>
                    <td><%= District.select(:name).where("id = " + location.district_id.to_s).collect(&:name)[0] %></td>
                    <td><%= link_to 'Detalle', location, :class => "text-info" %></td>
                    <td><%= link_to 'Editar', edit_location_path(location) , :class => "text-warning"%></td>
                    <td><%= link_to 'Eliminar', location, :class => "text-danger", method: :delete, data: { confirm: '¿Esta seguro de elimnar el registro?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="items">
          <div class="block-50-left">
            <%= will_paginate %>
          </div>
          <div class="block-50-right">
            <span class="text-info">Registros: <%= @locations.count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
