

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Address reference:</strong>
  <%= @location.address_reference %>
</p>

<p>
  <strong>Active state:</strong>
  <%= @location.active_state %>
</p>

<p>
  <strong>Location type:</strong>
  <%= @location.location_type_id %>
</p>

<p>
  <strong>Location owner:</strong>
  <%= @location.location_owner_id %>
</p>

<p>
  <strong>District:</strong>
  <%= @location.district_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>


  </div>
</div>


<div class="row">
  <div class="col-lg-10">

    <div class="card position-relative">
      <div class="card-header py-3">
        <h2 class="title">Locación</h2>
      </div>
      <div class="card-body">
        <div>
          <div class="items">
          <div class="block-form">
              <fieldset-standard>
            <div class="field">
            <div class="items">
                <div class="block-100">
                    <strong>Código referencia:</strong> 
                  </div>
                    <div class="block-100">
                      <%= @location.reference_code %> 
                    </div>
              </div>                
          </div>
            <div class="field">
              <div class="items">
                  <div class="block-100">
                    <strong>Nombre:</strong>
                  </div>
                  <div class="block-100">
                    <%= @location.name %>
                  </div>
              </div>                
          </div>
          <div class="items">
                <div class="block-50-center">
                  <%= link_to "Editar", edit_location_path(@location), :class => "btn btn-success" %>
                </div>
                <div class="block-50-center" >
                    <%= link_to 'Atras', locations_path, :class => "btn btn-info" %>
                </div>
              </div>
          </fieldset>
        </div> 
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
