<div class="row">
  <div class="col-lg-10">

    <div class="card position-relative">
      <div class="card-header py-3">
        <h2 class="title">Locación</h2>
      </div>
      <div class="card-body">
        <div>
          <div class="items">
          <div class="block-form">
              <fieldset-standard>
            <div class="field">
            <div class="items">
                <div class="block-100">
                    <strong>Código referencia:</strong> 
                  </div>
                    <div class="block-100">
                      <%= @location.reference_code %> 
                    </div>
              </div>                
          </div>
            <div class="field">
              <div class="items">
                  <div class="block-100">
                    <strong>Nombre:</strong>
                  </div>
                  <div class="block-100">
                    <%= @location.name %>
                  </div>
              </div>                
          </div>

            <div class="field">
              <div class="items">
                  <div class="block-100">
                    <strong>Dirección:</strong>
                  </div>
                  <div class="block-100">
                    <%= @location.address %>
                  </div>
              </div>                
          </div>

            <div class="field">
              <div class="items">
                  <div class="block-100">
                    <strong>Dirección referencia:</strong>
                  </div>
                  <div class="block-100">
                    <%= @location.address_reference %>
                  </div>
              </div>                
          </div>

            <div class="field">
              <div class="items">
                  <div class="block-100">
                    <strong>Tipo Locación:</strong>
                  </div>
                  <div class="block-100">
                    <%= LocationType.select(:name).where("id = "+ @location.location_type_id.to_s).collect(&:name)[0] %>
                  </div>
              </div>                
          </div>

            <div class="field">
              <div class="items">
                  <div class="block-100">
                    <strong>Cliente:</strong>
                  </div>
                  <div class="block-100">
                    <%= LocationOwner.select(:name).where("id = "+ @location.location_owner_id.to_s).collect(&:name)[0] %>
                  </div>
              </div>                
          </div>

            <div class="field">
              <div class="items">
                  <div class="block-100">
                    <strong>Distrito:</strong>
                  </div>
                  <div class="block-100">
                    <%= District.select(:name).where("id = "+ @location.district_id.to_s).collect(&:name)[0] %>
                  </div>
              </div>                
          </div>


          <div class="items">
                <div class="block-50-center">
                  <%= link_to "Editar", edit_location_path(@location), :class => "btn btn-success" %>
                </div>
                <div class="block-50-center" >
                    <%= link_to 'Atras', locations_path, :class => "btn btn-info" %>
                </div>
              </div>
          </fieldset>
        </div> 
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
